:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 110vw;
    height: 100vh;
   
    
}
.letra{
      font-family: "Inknut Antiqua", serif;
}
html{
    cursor: var(--mouse);
}

#avanzar{
  height: 13vh;
  aspect-ratio: 4/3;
  position: fixed;
  bottom: -2rem;
  left: 0;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
#avanzar:hover{
    
    transform: scale(1.05);
    cursor: pointer;
}
#avanzar:active{
    transform: scale(0.95);
}
.titulo {
width: 12.5625rem;
height: 4.5625rem;
flex-shrink: 0;
color: #000;
font-family: "Dela Gothic One";
font-size: 75px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 17px 155px 55px 75px;
}
.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .corazon {
    height: 30px;
    margin-left: 65.67px;
    margin-right: 20px ;
  }
.arriba {
    max-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}
.vida {
    font-family: 'Inknut Antiqua', serif;
    font-size: 18px;
    font-weight: 600;
    color: #CD0003;
    position: relative;
    top: 5px;
}
.todo {
    display: flex;
    align-items: center;
    height: 100px;
}

.bolsa {
    height: 2.5rem;
    margin-left: 60px;
    margin-right: 21px;
  }

.container{
  background-image: url("../Cosas/eb223c4034a1c48c8bc140e0a14ae7ecd0cbf9de.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 145vw 145vh;
  height: 80vh;
  padding-top: 2rem;
}
.oro {
    color: #000;
    font-family:'Inknut Antiqua', serif ;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    top: 5px;
}

.reliquia-circulo{
  position: relative;
  top: 28px;
  position: absolute;
  margin-left: 400px;
}
.reliquia {
  margin-left: 400px;
  height: 3.75rem;
  position: relative;
  top: 15px;
}

.circulo {
  position: relative;
  bottom: 10px;
  background: lightgray;
  border-radius: 50%;
  font-size: 12px;
  width: 1.375rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
}

.mapa{
  height: 3.75rem;
  margin-left: 540px;
}

.cartas {
  height: 3.75rem;
  margin-left: 40px;
}

.mercader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
}

#precio-oro {
  display: flex;
  justify-content: center;
}