:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 110vw;
    height: 100vh;
   
    
}
.letra{
      font-family: "Inknut Antiqua", serif;
}
html{
    cursor: var(--mouse);
}

#avanzar{
  height: 13vh;
  aspect-ratio: 4/3;
  position: fixed;
  bottom: -2rem;
  left: 0;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
#avanzar:hover{
    
    transform: scale(1.05);
    cursor: pointer;
}
#avanzar:active{
    transform: scale(0.95);
}
.arriba {
  min-height: 15vh;
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100vw;
  padding: 0;
}
.titulo {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 4rem;
}
.izq {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}
.vida {
  border: 2px red solid;
  width: 20%;
  height: 5vh;
}
.oro {
  border: 2px gold solid;
  width: 20%;
  height: 5vh;
}
.der {
  display: flex;
  gap: 5vh;
  width: 40%;
  justify-content: flex-end;
  padding-right: 10vh;
  align-items: center;
}
.icon {
  height: 7vh;
  aspect-ratio: 1/1;
  cursor: var(--pointer);
}
.mapa {
  background-image: url("../Cosas/images-removebg-preview\ 1.png");
  background-size: contain;
}
.reliquias {
  background-image: url("../Cosas/image\ 44.png");
  background-size: contain;
  display: flex;
  align-items: end;
}
.cartas {
  background-image: url("../Cosas/cartasicon.png");
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  align-items: end;
}
.circulo-reliquias {
  height: 3.6vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circulo-cartas {
  height: 3.6vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-image: url("../Cosas/eb223c4034a1c48c8bc140e0a14ae7ecd0cbf9de.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 145vw 145vh;
  height: 80vh;
  padding-top: 2rem;
  }