/* Se tiene que llamar "styles.css" */
:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.letra{
      font-family: "Inknut Antiqua", serif;
}
html{
    cursor: var(--mouse);
}