:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-position: bottom;
}

.letra {
  font-family: "Inknut Antiqua", serif;
}

.letra2 {
  font-family: "Galdeano", sans-serif;
}

html {
  cursor: var(--mouse);
}

.arriba {
  min-height: 15%;
  max-height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  padding: 0;
}

.titulo {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 6vh;
  cursor: var(--pointer);
}

.izq {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}

.vida {
  background-image: url("../Cosas/Vector.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-y: center;
  font-size: 3vh;
  color: red;
  width: 23%;
  height: 3vh;
}

.oro {
  font-size: 3vh;
  width: 20%;
  height: 3vh;
  background-image: url("../Cosas/image\ 42.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 10%;
}

.der {
  display: flex;
  gap: 5vh;
  width: 40%;
  justify-content: flex-end;
  padding-right: 10%;
  align-items: center;
}

.icon {
  height: 6vh;
  aspect-ratio: 1/1;
  cursor: var(--pointer);
}

.mapa {
  background-image: url("../Cosas/images-removebg-preview\ 1.png");
  background-size: contain;
}

.reliquias {
  background-image: url("../Cosas/image\ 44.png");
  background-size: contain;
  display: flex;
  align-items: end;
}

.cartas {
  background-image: url("../Cosas/cartasicon.png");
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  align-items: end;
}

.circulo-reliquias {
  height: 3vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo-cartas {
  height: 3vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abajo {
  position: relative;
  min-height: 35vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  flex-wrap: wrap;
}

.caja-monstruo {
  height: 20vh;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.caja-personaje {
  height: 30vh;
  aspect-ratio: 2/3;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: end;
}

.caja {
  display: flex;
  align-items: end;
  gap: 55vh;
  position: relative;
  top: 5vh;
}

.cartaG {
  font-size: 0;
  height: 25.5vh;
  width: 17.5vh;
  cursor: var(--pointer);
  background-size: 24vh;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.carta1 {
  transform: translateX(-50%) rotate(0deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  z-index: 100;
}

.carta2 {
  transform: translateX(-50%) rotate(3.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 4vh;
  left: 57vw;
  z-index: 90;
}

.carta3 {
  transform: translateX(-50%) rotate(-3.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 4vh;
  left: 43vw;
  z-index: 90;
}

.carta4 {
  transform: translateX(-50%) rotate(7deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 2.5vh;
  left: 65vw;
  z-index: 80;
}

.carta5 {
  transform: translateX(-50%) rotate(-7deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 2.5vh;
  left: 35vw;
  z-index: 80;
}

.carta6 {
  transform: translateX(-50%) rotate(10.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 0vh;
  left: 73vw;
  z-index: 70;
}

.carta7 {
  transform: translateX(-50%) rotate(-10.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 0vh;
  left: 28vw;
  z-index: 70;
}

.carta8 {
  transform: translateX(-50%) rotate(14deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: -3vh;
  left: 80vw;
  z-index: 60;
}

.carta9 {
  transform: translateX(-50%) rotate(-14deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: -3vh;
  left: 21vw;
  z-index: 60;
}

.cartaG:hover {
  transform: translateX(-40%) rotate(0deg) scale(1.1);
  bottom: 10vh;
  z-index: 100;
}

.personaje {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.monstruo {
  background-color: orange;
  width: 100%;
  height: 100%;
}

.vida1 {
  height: 1.35vh;
  width: 100%;
  border-radius: 5px;
  background: #bb090e;
  box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, 0.5) inset;
  display: flex;
  justify-content: center;
  font-size: 1.2vh;
  color: white;
}

.vida2 {
  height: 1.35vh;
  width: 100%;
  border-radius: 5px;
  background: #bb090e;
  box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, 0.5) inset;
  display: flex;
  justify-content: center;
  font-size: 1.2vh;
  color: white;
}

.b {
  font-size: 2rem;
  background-color: beige;
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5vw;
  bottom: 23vh;
  z-index: 110;
}
.b:hover {
  cursor: var(--pointer);
}

.container-cartas {
  padding: 0 15vh 0 15vh;
  width: 100vw;
}

.cajaCartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8vh;
  justify-items: center;
  padding-top: 10vh;
}

.cartaGC {
  width: 12vw;
  height: 28vh;
  border: 0.2rem solid white;
  cursor: var(--pointer);
  border-radius: 10px;
  background-color: gray;
}

.atras {
  height: 13vh;
  aspect-ratio: 4/3;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
.omitir {
  position: fixed;
  right: 0;
  height: 13vh;
  aspect-ratio: 4/3;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/pinturaizquierda.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
  display: flex;
  align-items: center;
}

.abajo-cartas {
  padding-top: 7vh;
}

.cartasS {
  display: none;
  width: 100vw;
}

.reliqias {
  display: none;
}

.container-reliquias {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo {
  background-image: url(../Cosas/Fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
}

.caja-reliquias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vh;
  justify-items: center;
  padding-top: 10vh;
  min-height: 100%;
  overflow-y: auto;
}

.todas {
  background-color: blue;
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.escudo {
  font-size: 1.2vh;
}

.mana {
  height: 15vh;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  position: absolute;
  bottom: 20vh;
  left: 15vw;
}
.contenedor-recompensas {
  padding: 1.25rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 50vh;
  width: 20vw;
  border: solid black 2px;
}
.lugarRecompensas {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.titel {
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recompensa {
  background-color: black;
  color: white;
  height: 2.375rem;
  margin: 1.25rem 0;
  border: 0.125rem solid white;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: var(--pointer);
}
#recompensa3{
  cursor: var(--pointer);
}
.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* CARTAS */

/* --- ATAQUE --- */
.carta-golpe {
  background-image: url("../Cosas/cartas/ataque/golpe.png");
}

.carta-garrote {
  background-image: url("../Cosas/cartas/ataque/garrote.png");
}

.carta-espadaPesada {
  background-image: url("../Cosas/cartas/ataque/espada-pesada.png");
}

.carta-ira {
  background-image: url("../Cosas/cartas/ataque/ira.png");
}

.carta-rafaga {
  background-image: url("../Cosas/cartas/ataque/rafaga.png");
}

.carta-festin {
  background-image: url("../Cosas/cartas/ataque/festin.png");
}

.carta-ataqueRapido {
  background-image: url("../Cosas/cartas/ataque/ataque-rapido.png");
}

.carta-chapiadora {
  background-image: url("../Cosas/cartas/ataque/chipiadora.com.png");
}

.carta-promo {
  background-image: url("../Cosas/cartas/ataque/promo-2027.png");
}

.carta-choque {
  background-image: url("../Cosas/cartas/ataque/coque.png");
}

.carta-zip {
  background-image: url("../Cosas/cartas/ataque/zip.png");
}

.carta-uppercut {
  background-image: url("../Cosas/cartas/ataque/uppercut.png");
}

/* --- DEFENSA --- */
.carta-trinchera {
  background-image: url("../Cosas/cartas/defensa/trinchera.png");
}

.carta-protector {
  background-image: url("../Cosas/cartas/defensa/protector.png");
}

.carta-heroico {
  background-image: url("../Cosas/cartas/defensa/heroico.png");
}

.carta-verdaderoValor {
  background-image: url("../Cosas/cartas/defensa/verdadero-valor.png");
}

.carta-segundoAliento {
  background-image: url("../Cosas/cartas/defensa/segundo-aliento.png");
}

.carta-defensaEnPlacas {
  background-image: url("../Cosas/cartas/defensa/defensa-en-placas.png");
}

.carta-estrategiaDefensiva {
  background-image: url("../Cosas/cartas/defensa/estrategia-defensiva.png");
}

.carta-copa {
  background-image: url("../Cosas/cartas/defensa/5-de-copa.png");
}

.carta-autoEscudo {
  background-image: url("../Cosas/cartas/defensa/auto-escudo.png");
}

.carta-mutacion {
  background-image: url("../Cosas/cartas/defensa/mutacion.png");
}

.carta-espadasOrbitantes {
  background-image: url("../Cosas/cartas/defensa/espadas orbitantes.png");
}

.carta-escudo {
  background-image: url("../Cosas/cartas/defensa/escudo.png");
}

/* --- APOYO --- */
.carta-flexionar {
  background-image: url("../Cosas/cartas/apoyo/flexionar.png");
}

.carta-ritual {
  background-image: url("../Cosas/cartas/apoyo/ritual.png");
}

.carta-dobleAtaque {
  background-image: url("../Cosas/cartas/apoyo/doble-ataque.png");
}

.carta-furia {
  background-image: url("../Cosas/cartas/apoyo/furia.png");
}

.carta-columnaSuertuda {
  background-image: url("../Cosas/cartas/apoyo/columna-suertuda.png");
}

.carta-ataqueAncestral {
  background-image: url("../Cosas/cartas/apoyo/ataque-ancestal.png");
}

.carta-debilidad {
  background-image: url("../Cosas/cartas/apoyo/debilidad.png");
}

.carta-barricada {
  background-image: url("../Cosas/cartas/apoyo/barricada.png");
}

.carta-golpeDeCuerpo {
  background-image: url("../Cosas/cartas/apoyo/golpe-doble.png");
}

.carta-ignorar {
  background-image: url("../Cosas/cartas/apoyo/ignorar.png");
}

.carta-lamentoPenetrante {
  background-image: url("../Cosas/cartas/apoyo/lamento-penetrable.png");
}
