:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.letra {
  font-family: "Inknut Antiqua", serif;
}

html {
  cursor: var(--mouse);
}
.arriba {
  min-height: 15vh;
  max-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100vw;
  padding: 0;
  border: solid 2px black;
}
.titulo {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 4rem;
}
.izq {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}
.vida {
  background-image: url("../Cosas/Vector.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 15%;
  background-position-y: center;
  font-size: 4vh;
  color: red;
  width: 23%;
  height: 5vh;
}
.oro {
  font-size: 4vh;
  width: 20%;
  height: 5vh;
  background-image: url("../Cosas/image\ 42.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 15%;
}
.der {
  display: flex;
  gap: 5vh;
  width: 40%;
  justify-content: flex-end;
  padding-right: 10vh;
  align-items: center;
}
.icon {
  height: 7vh;
  aspect-ratio: 1/1;
  cursor: var(--pointer);
}
.mapa {
  background-image: url("../Cosas/images-removebg-preview\ 1.png");
  background-size: contain;
}
.reliquias {
  background-image: url("../Cosas/image\ 44.png");
  background-size: contain;
  display: flex;
  align-items: end;
}
.cartas {
  background-image: url("../Cosas/cartasicon.png");
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  align-items: end;
}
.circulo-reliquias {
  height: 3.6vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circulo-cartas {
  height: 3.6vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 50vh;
  width: 100vw;
  border: solid red 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abajo {
  min-height: 35vh;
  width: 100vw;
  border: solid blue 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  flex-wrap: wrap;
}

.caja-monstruo {
  height: 20vh;
  aspect-ratio: 1/1;
  border: solid 2px orange;
}

.caja-personaje {
  height: 30vh;
  aspect-ratio: 2/3;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.caja {
  display: flex;
  align-items: end;
  gap: 55vh;
  position: relative;
  top: 5vh;
}

.cartaG {
  width: 9vw;
  height: 25vh;
  border: 2px solid black;
  cursor: var(--pointer);
}
.carta1 {
  transform: rotate(0deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  background-color: blueviolet;
}
.carta2 {
  transform: rotate(3.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 4vh;
  left: 57vw;
  background-color: coral;
}
.carta3 {
  transform: rotate(-3.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 4vh;
  left: 43vw;
  background-color: bisque;
}
.carta4 {
  transform: rotate(7deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 2.5vh;
  left: 65vw;
  background-color: yellow;
}
.carta5 {
  transform: rotate(-7deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 2.5vh;
  left: 35vw;
  background-color: aqua;
}
.carta6 {
  transform: rotate(10.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 0vh;
  left: 73vw;
  background-color: palevioletred;
}
.carta7 {
  transform: rotate(-10.5deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: 0vh;
  left: 28vw;
  background-color: tan;
}
.carta8 {
  transform: rotate(14deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: -3vh;
  left: 80vw;
  background-color: cadetblue;
}
.carta9 {
  transform: rotate(-14deg);
  transition: transform 1s ease, bottom 1s ease;
  position: absolute;
  bottom: -3vh;
  left: 21vw;
  background-color: firebrick;
}
.cartaG:hover {
  transform: rotate(0deg);
  bottom: 10vh;
  transform: scale(1.1);
  z-index: 100;
}

.personaje {
  background-color: blue;
  width: 100%;
  height: 90%;
}

.vida1 {
  height: 5%;
  width: 100%;
  background-color: red;
  display: flex;
  border-radius: 10px;
}
.boton{
  font-size: 5rem;
}

