.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.titulo{
height: 23.25rem;
align-self: stretch;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
position: relative;
top: 50px;
font-family: "Dela Gothic One", sans-serif;
font-size: 12rem;
color: black;
z-index: 1;
margin: 0;
}

button {
  color: #000;
  font-family: "Inknut Antiqua", serif;
  background: none;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: transform 0.2s ease;
  margin-top: 1rem;
  z-index: 2;
}

#boton1 {
height: 6.125rem;
font-size: 3.15rem;
width: 28.8125rem;
margin-bottom: 1rem;

}

#boton2 {
  /*margin: 0px 513px 279px 512px;*/
flex-shrink: 0;
font-size: 2.625rem;
width: 24.8898125rem;
height: 5.1875rem;
}

button:hover{
  cursor: pointer;
  transform: scale(1.05);
}
button:active{
  transform: scale(0.97);
}

.inknut-antiqua-light {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .tRegular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inknut-antiqua-medium {
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .inknut-antiqua-semibold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inknut-antiqua-bold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inknut-antiqua-extrabold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .inknut-antiqua-black {
    font-family: "Inknut Antiqua", serif;
    font-weight: 900;
    font-style: normal;
  }
  .dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body {
  background-color: white;
  background-image: url('../Cosas/Anotación 2025-09-16 140629.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}