.container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
#mercader{
    border: dashed black 0.5vh;
    width: 30rem;
    aspect-ratio: 3/3.5;
    
}
footer{
display: flex;
justify-content: left;
}
#avanzar{
    margin: 0;
    text-decoration: underline;
    font-size: 2rem;
    padding: 1rem 1rem 0 1rem;
    transition: transform 0.2s ease;
}
#avanzar:hover{
    
    transform: scale(1.05);
    cursor: pointer;
}
#avanzar:active{
    transform: scale(0.95);
}
.titulo {
width: 201px;
height: 73px;
flex-shrink: 0;
color: #000;
font-family: "Dela Gothic One";
font-size: 75px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 17px 155px 55px 75px;
}
.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .corazon {
    height: 30px;
    margin-left: 65.67px;
    margin-right: 20px ;
  }
.arriba {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.vida {
    font-family: 'Inknut Antiqua', serif;
    font-size: 18px;
    font-weight: 600;
    color: #CD0003;
    position: relative;
    top: 5px;
}
.todo {
    display: flex;
    align-items: center;
    height: 100px;
}

.bolsa {
    height: 40px;
    margin-left: 60px;
    margin-right: 21px;
  }
.oro {
    color: #000;
    font-family:'Inknut Antiqua', serif ;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    top: 5px;
}

.reliquia-circulo{
  position: relative;
  position: absolute;
  margin-left: 400px;
}
.reliquia {
  margin-left: 400px;
  height: 60px;
  position: relative;
  top: 15px;
}

.circulo {
  position: relative;
  bottom: 10px;
  background: lightgray;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 12px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
}