:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}

body {
  cursor: var(--mouse);
  background-color: black;
  background-image: url("../Cosas/image 34.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 99.5%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jersey25 {
font-family: "Galdeano", sans-serif;
font-weight: 400;
font-style: normal;
height: 8.0000125;
flex-shrink: 0;
color: #000;
font-size: 10rem;
font-style: normal;
line-height: normal;
justify-content: center;
align-items: center;
text-align: center;
}

#footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#botones{
display: flex;
justify-content:space-around;
color: #000;
font-size: 3.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
display:flex;
justify-content: center;
align-items: center;
border:none;
display: flex;
flex-direction: column;
transition: transform 0.2s ease;
}

#volver {
height: 6.125rem;
font-size: 3.15rem;
width: 24rem;
margin-bottom: 1rem;
border-radius: 1.25rem;
border: 0rem;
}
button {
  color: white;
  margin: 0;
  font-family: "Galdeano", sans-serif !important;
  background-color: #B50A0C;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  margin-top: 1rem;
  position: relative;
  z-index: 2;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #A9AF00;;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
  z-index: -1;
}

button::after {
  content: "";
  position: absolute;
  inset: 10px; 
  background: #B50A0C;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
  z-index: -1;
}
button:hover{
  cursor: var(--pointer);
  transform: scale(1.1);
}
button:active{
  transform: scale(0.9);
}
.galdeano-regular {
    font-family: "Galdeano", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  