:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  height: 100vh;
}
.letra {
  font-family: "Inknut Antiqua", serif;
}
html {
  cursor: var(--mouse);
}
h1{
  background-size: 80vw 55vh;
  background-position-x: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 3.5rem;
}
/* Contenedor general del mapa */
#container-mapa {
  display: flex;
  flex-direction: column-reverse; /* Primer piso abajo, jefe arriba */
  align-items: center;
  position: relative;
  margin: 40px auto;
  padding: 1.2rem;
  border-radius: 10px;
  width: 90vw;
  max-width: 800px;
}

/* Cada fila (piso) del mapa */
.piso {
  display: flex;
  justify-content: center;
  gap: 60px; /* Separación horizontal entre nodos */
  margin: 40px 0; /* Separación vertical entre pisos */
  position: relative;
}

/* Nodo básico */
.nodo {
  aspect-ratio: 1/1;
  height: 10vh;
  font-weight: 900;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: transform 0.2s;
  font-size: 3vh;
}

.nodo:hover {
  transform: scale(1.1);
  cursor: var(--pointer);
}

.nodoBear{
  background-color: burlywood;
  border-radius: 50%;
}
.nodoPick{
  background-image: url("../Cosas/image\ 50.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;

}

body.pick-background-global {
    background-color: #49311C;;
    background-image: none; 
}

#container-mapa.pick-imagen-container {
    background-image: url("../Cosas/download_1-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nodoMago{
  background-image: url("../Cosas/image\ 36.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

body.mago-background-global {
    background-color: #FF0000;
    background-image: none; 
}
#container-mapa.mago-imagen-container {
    background-image: url("../Cosas/image\ 24.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
<<<<<<< HEAD

body.jon-background-global {
    background-image: url("../Cosas/image\ 23.png");
}

.nodoJon {
  background-image: url("../Cosas/Group\ 8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

=======
body.Jon-background-global {
    background-image: url("../Cosas/image\ 23\ \(1\).png");
}
.nodoJon{
  background-image: url("../Cosas/image\ 64.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
>>>>>>> 576b1e79d0154f464d23e95338d51e090fbe8f58
}
/* Tipos de nodo */
.nodo.M {

} /* Monstruo */
.nodo.E {

} /* Elite */
.nodo.T {

} /* Tesoro */
.nodo.S {


} /* Descanso */
.nodo.F {

} /* Evento / vacíos */

/* Final Boss (B) */
.finalBoss {
  aspect-ratio: 1/1;
  height: 12.5vh;
  background-color: black;
  color: white;
  font-size: 4.3vh;
  font-weight: bold;
  border-radius: 50%;
  border: 4px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-image: none;
}

/* SVG para líneas de conexión */
#conecciones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

line {
  stroke: #444;
  stroke-width: 5;
  opacity: 0.8;
}
#salida{
  height: 0;
  width: 0;
  font-size: 0;
}
#fogata{
  font-size: 10rem;
}
#batalla{
  font-size: 10rem;
}
.nodo.bloqueado {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.nodo.desbloqueado {
  opacity: 1;
  cursor: var(--pointer);
}
.afuera{
  display: none;
}