:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
body {
  max-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
html {
  cursor: var(--mouse);
}
.arriba {
  min-height: 15%;
  max-height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  padding: 0;
}

.titulo {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 6vh;
  cursor: var(--pointer);
}

.izq {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}

.vida {
  background-image: url("../Cosas/Vector.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-y: center;
  font-size: 3vh;
  color: red;
  width: 23%;
  height: 3vh;
}

.oro {
  font-size: 3vh;
  width: 20%;
  height: 3vh;
  background-image: url("../Cosas/image\ 42.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 10%;
}

.der {
  display: flex;
  gap: 5vh;
  width: 40%;
  justify-content: flex-end;
  padding-right: 5%;
  align-items: center;
}

.icon {
  height: 6vh;
  aspect-ratio: 1/1;
  cursor: var(--pointer);
}

.mapa {
  background-image: url("../Cosas/images-removebg-preview\ 1.png");
  background-size: contain;
}

.reliquias {
  background-image: url("../Cosas/image\ 44.png");
  background-size: contain;
  display: flex;
  align-items: end;
}
.todas {
  width: 18%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 6% 7%;
  vertical-align: top;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.cartas {
  background-image: url("../Cosas/cartasicon.png");
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  align-items: end;
}

.circulo-reliquias {
  height: 3vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo-cartas {
  height: 3vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 5rem;
  text-align: center;
  margin: 0;
  color: white;
}
.container {
  padding: 0;
  font-family: "Galdeano", sans-serif;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.cajas {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.cama {
  height: 28vh;
  aspect-ratio: 6/5;
  cursor: var(--pointer);
  background-image: url(../Cosas/cama.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
.camaT {
  margin-right: 7vw;
}
.mina {
 height: 28vh;
  aspect-ratio: 6/5;
  cursor: var(--pointer);
  background-image: url(../Cosas/mina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
#p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 3.5rem;
  color: #c3aa64;
}
#axion {
  position: fixed;
  bottom: 10vh;
  font-weight: 500;
  font-size: 3.5rem;
}
.cartasS {
  display: none;
  width: 100vw;
}
.reliqias {
  display: none;
}
.todas {
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartaGC {
  width: 12vw;
  height: 28vh;
  border-radius: 10px;
  color: red;
  font-size: 0;
  background-size: 26.5vh;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25%;
  margin: 4% 1%;
  vertical-align: top;
}
.atras {
  height: 13vh;
  aspect-ratio: 4/3;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
.abajo-cartas {
  padding-top: 7vh;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#section{
  height: 100%;
}
.batalla{
  height: 85%;
}
.letra {
  font-family: "Inknut Antiqua", serif;
}
.letra2 {
  font-family: "Galdeano", sans-serif;
}
html {
  cursor: var(--mouse);
}
.container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5vh;
}

.container-cartas {
  padding: 0 15vh 0 15vh;
  width: 100vw;
}
.cajaCartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8vh;
  justify-items: center;
  padding-top: 10vh;
}
.cartaGC {
  width: 12vw;
  height: 28vh;
  cursor: var(--pointer);
  border-radius: 10px;
}
.atras {
  height: 13vh;
  aspect-ratio: 4/3;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
.abajo-cartas {
  padding-top: 7vh;
}
.reliqias {
  display: none;
}
.container-reliquias {
  min-height: 100vh;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo {
  background-image: url(../Cosas/Fondo.png);
  background-position: top;
  background-size: 100% 110%;
  background-repeat: no-repeat;
}

.caja-reliquias {
  text-align: center;
  padding-top: 15vh;
  min-height: 80vh;
  height: max-content;
  overflow-y: auto;
  width: 55%;
}
.todas {
  width: 18%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 6% 7%;
  vertical-align: top;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.escudo {
  font-size: 1.2vh;
}
.mana {
  height: 15vh;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  position: absolute;
  bottom: 20vh;
  left: 15vw;
}
.reliquia-vajra {
  background-image: url("/Front/Cosas/reliquias/vajra.png");
}
.reliquia-anchor {
  background-image: url("/Front/Cosas/reliquias/anchor.png");
}
.reliquia-bag-of-preparation {
  background-image: url("/Front/Cosas/reliquias/bag-of-preparation.png");
}
.reliquia-lantern {
  background-image: url("/Front/Cosas/reliquias/lantern.png");
}
.reliquia-regal-pillow {
  background-image: url("/Front/Cosas/reliquias/regal-pillow.png");
}
.reliquia-roca-runica {
  background-image: url("/Front/Cosas/reliquias/roca-runica.png");
}
.reliquia-piedra-filosofal {
  background-image: url("/Front/Cosas/reliquias/piedra-filosofal.png");
}
.reliquia-salvia {
  background-image: url("/Front/Cosas/reliquias/salvia.png");
}
.reliquia-red-star {
  background-image: url("/Front/Cosas/reliquias/red-star.png");
}
.reliquia-sombrero-magico {
  background-image: url("/Front/Cosas/reliquias/sombrero-magico.png");
}
.reliquia-sombrero-constructor {
  background-image: url("/Front/Cosas/reliquias/sombrero-constructor.png");
}
.reliquia-escudo-clasico {
  background-image: url("/Front/Cosas/reliquias/escudo-clasico.png");
}
.reliquia-black-star {
  background-image: url("/Front/Cosas/reliquias/black-star.png");
}
.reliquia-caja-de-devolucion {
  background-image: url("/Front/Cosas/reliquias/caja-de-devolucion.png");
}
.reliquia-fortaleza {
  background-image: url("/Front/Cosas/reliquias/fortaleza.png");
}
.reliquia-escudo-de-hierro {
  background-image: url("/Front/Cosas/reliquias-iniciales/escudo-de-hierro.png");
}
.reliquia-trebol-de-oro {
  background-image: url("/Front/Cosas/reliquias-iniciales/trebol-de-oro.png");
}
.reliquia-baculo-del-archimago {
  background-image: url("/Front/Cosas/reliquias-iniciales/baculo-del-archimago.png");
}
.reliquia-lanza-de-odin {
  background-image: url("/Front/Cosas/reliquias-iniciales/lanza-de-odin.png");
}
/* CARTAS */

/* --- ATAQUE --- */
.carta-golpe {
  background-image: url("../Cosas/cartas/ataque/golpe.png");
}

.carta-garrote {
  background-image: url("../Cosas/cartas/ataque/garrote.png");
}

.carta-espadaPesada {
  background-image: url("../Cosas/cartas/ataque/espada-pesada.png");
}

.carta-ira {
  background-image: url("../Cosas/cartas/ataque/ira.png");
}

.carta-rafaga {
  background-image: url("../Cosas/cartas/ataque/rafaga.png");
}

.carta-festin {
  background-image: url("../Cosas/cartas/ataque/festin.png");
}

.carta-ataqueRapido {
  background-image: url("../Cosas/cartas/ataque/ataque-rapido.png");
}

.carta-chapiadora {
  background-image: url("../Cosas/cartas/ataque/chipiadora.com.png");
}

.carta-promo {
  background-image: url("../Cosas/cartas/ataque/promo-2027.png");
}

.carta-choque {
  background-image: url("../Cosas/cartas/ataque/coque.png");
}

.carta-zip {
  background-image: url("../Cosas/cartas/ataque/zip.png");
}

.carta-uppercut {
  background-image: url("../Cosas/cartas/ataque/uppercut.png");
}

/* --- DEFENSA --- */
.carta-trinchera {
  background-image: url("../Cosas/cartas/defensa/trinchera.png");
}

.carta-protector {
  background-image: url("../Cosas/cartas/defensa/protector.png");
}

.carta-heroico {
  background-image: url("../Cosas/cartas/defensa/heroico.png");
}

.carta-verdaderoValor {
  background-image: url("../Cosas/cartas/defensa/verdadero-valor.png");
}

.carta-segundoAliento {
  background-image: url("../Cosas/cartas/defensa/segundo-aliento.png");
}

.carta-defensaEnPlacas {
  background-image: url("../Cosas/cartas/defensa/defensa-en-placas.png");
}

.carta-estrategiaDefensiva {
  background-image: url("../Cosas/cartas/defensa/estrategia-defensiva.png");
}

.carta-copa {
  background-image: url("../Cosas/cartas/defensa/5-de-copa.png");
}

.carta-autoEscudo {
  background-image: url("../Cosas/cartas/defensa/auto-escudo.png");
}

.carta-mutacion {
  background-image: url("../Cosas/cartas/defensa/mutacion.png");
}

.carta-espadasOrbitantes {
  background-image: url("../Cosas/cartas/defensa/espadas-orbitantes.png");
}

.carta-escudo {
  background-image: url("../Cosas/cartas/defensa/escudo.png");
}

/* --- APOYO --- */
.carta-flexionar {
  background-image: url("../Cosas/cartas/apoyo/flexionar.png");
}

.carta-ritual {
  background-image: url("../Cosas/cartas/apoyo/ritual.png");
}

.carta-dobleAtaque {
  background-image: url("../Cosas/cartas/apoyo/doble-ataque.png");
}

.carta-furia {
  background-image: url("../Cosas/cartas/apoyo/furia.png");
}

.carta-columnaSuertuda {
  background-image: url("../Cosas/cartas/apoyo/columna-suertuda.png");
}

.carta-ataqueAncestral {
  background-image: url("../Cosas/cartas/apoyo/ataque-ancestal.png");
}

.carta-debilidad {
  background-image: url("../Cosas/cartas/apoyo/debilidad.png");
}

.carta-barricada {
  background-image: url("../Cosas/cartas/apoyo/barricada.png");
}

.carta-golpeDeCuerpo {
  background-image: url("../Cosas/cartas/apoyo/golpe-doble.png");
}

.carta-ignorar {
  background-image: url("../Cosas/cartas/apoyo/ignorar.png");
}

.carta-lamentoPenetrante {
  background-image: url("../Cosas/cartas/apoyo/lamento-penetrable.png");
}

.tooltip-floating {
  position: absolute;
  z-index: 99999;
  background-color: #1f2428;
  color: #ffffff;
  border: 1px solid #b6b6b6;
  padding: 8px 10px;
  border-radius: 8px;
  width: 220px;
  max-width: 260px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  font-family: "Inknut Antiqua", serif;
  font-size: 0.88rem;
  line-height: 1.3;
  opacity: 0;
  transition: opacity 0.12s ease;
  pointer-events: none;
}

.tooltip-floating .tooltip-title {
  color: #d6c25b;
  font-weight: 700;
  font-size: 0.95rem;
  margin-bottom: 6px;
  text-align: center;
}

.tooltip-floating .tooltip-body {
  color: #f0f0f0;
  font-size: 0.85rem;
  margin-bottom: 6px;
  text-align: left;
}

.tooltip-floating .tooltip-meta {
  color: #cccccc;
  font-size: 0.7rem;
  opacity: 0.8;
  text-align: right;
}
.tooltip-floating {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: opacity 0.15s ease;
  max-width: 240px;
  font-family: "Inknut Antiqua", serif;
  z-index: 9999;
}

.tooltip-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.tooltip-img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 6px;
  object-fit: contain;
}