:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
body {
  max-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
html {
  cursor: var(--mouse);
}
.arriba {
  min-height: 15%;
  max-height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  padding: 0;
}

.titulo {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 6vh;
  cursor: var(--pointer);
}

.izq {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}

.vida {
  background-image: url("../Cosas/Vector.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-y: center;
  font-size: 3vh;
  color: red;
  width: 23%;
  height: 3vh;
}

.oro {
  font-size: 3vh;
  width: 20%;
  height: 3vh;
  background-image: url("../Cosas/image\ 42.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 10%;
}

.der {
  display: flex;
  gap: 5vh;
  width: 40%;
  justify-content: flex-end;
  padding-right: 10%;
  align-items: center;
}

.icon {
  height: 6vh;
  aspect-ratio: 1/1;
  cursor: var(--pointer);
}

.mapa {
  background-image: url("../Cosas/images-removebg-preview\ 1.png");
  background-size: contain;
}

.reliquias {
  background-image: url("../Cosas/image\ 44.png");
  background-size: contain;
  display: flex;
  align-items: end;
}

.cartas {
  background-image: url("../Cosas/cartasicon.png");
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  align-items: end;
}

.circulo-reliquias {
  height: 3vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo-cartas {
  height: 3vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: lightgray;
  text-align: center;
  font-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 5rem;
  text-align: center;
  margin: 0;
  color: white;
}
.container {
  padding: 0;
  font-family: "Galdeano", sans-serif;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.cajas {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.cama {
  height: 28vh;
  aspect-ratio: 6/5;
  cursor: var(--pointer);
  background-image: url(../Cosas/cama.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
.camaT {
  margin-right: 7vw;
}
.mina {
 height: 28vh;
  aspect-ratio: 6/5;
  cursor: var(--pointer);
  background-image: url(../Cosas/mina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
#p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 3.5rem;
  color: #c3aa64;
}
#axion {
  position: fixed;
  bottom: 10vh;
  font-weight: 500;
  font-size: 3.5rem;
}
.cartasS {
  display: none;
  width: 100vw;
}
.reliqias {
  display: none;
}
.container-reliquias {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo {
  background-image: url(../Cosas/Fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
}
.caja-reliquias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vh;
  justify-items: center;
  padding-top: 10vh;
  min-height: 100%;
  overflow-y: auto;
}
.todas {
  background-color: blue;
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartaGC {
  width: 12vw;
  height: 28vh;
  border: 0.2rem solid white;
  cursor: var(--pointer);
  border-radius: 10px;
  background-color: gray;
}
.atras {
  height: 13vh;
  aspect-ratio: 4/3;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
.abajo-cartas {
  padding-top: 7vh;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#section{
  height: 100%;
}
.batalla{
  height: 85%;
}
.letra {
  font-family: "Inknut Antiqua", serif;
}
.letra2 {
  font-family: "Galdeano", sans-serif;
}
html {
  cursor: var(--mouse);
}
.container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5vh;
}

.container-cartas {
  padding: 0 15vh 0 15vh;
  width: 100vw;
}
.cajaCartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8vh;
  justify-items: center;
  padding-top: 10vh;
}
.cartaGC {
  width: 12vw;
  height: 28vh;
  border: 0.2rem solid white;
  cursor: var(--pointer);
  border-radius: 10px;
  background-color: gray;
}
.atras {
  height: 13vh;
  aspect-ratio: 4/3;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
.abajo-cartas {
  padding-top: 7vh;
}
.reliqias {
  display: none;
}
.container-reliquias {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo {
  background-image: url(../Cosas/Fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
}
.caja-reliquias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vh;
  justify-items: center;
  padding-top: 10vh;
  min-height: 100%;
  overflow-y: auto;
}
.todas {
  background-color: blue;
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carta-golpe {
  background-color: red;
}
.carta-escudo {
  background-color: lightblue;
}
.carta-garrote {
  background-color: orange;
}
.escudo {
  font-size: 1.2vh;
}
.mana {
  height: 15vh;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  position: absolute;
  bottom: 20vh;
  left: 15vw;
}
