:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
body{
  cursor: var(--mouse);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.titulo{
height: 23.25rem;
align-self: stretch;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
font-family: "Dela Gothic One", sans-serif;
font-size: 18rem;
color: white;
-webkit-text-stroke-width: 5px;
-webkit-text-stroke-color: #000;
z-index: 1;
margin: 0;
}

button {
  color: white;
  margin: 0;
  font-family: "Dela Gothic One", sans-serif !important;
  background-color: #004f5a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  margin-top: 1rem;
  position: relative;
  z-index: 2;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
  z-index: -1;
}

button::after {
  content: "";
  position: absolute;
  inset: 10px; 
  background: #004f5a;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
  z-index: -1;
}


#boton1 {
  font-size: 2.625rem;
  width: 24.8898125rem;
  height: 5.1875rem;
}

#boton2 {
  /*margin: 0px 513px 279px 512px;*/
flex-shrink: 0;
font-size: 2.625rem;
width: 24.8898125rem;
height: 5.1875rem;
}

button:hover{
  cursor: var(--pointer);
  transform: scale(1.05);
}
button:active{
  transform: scale(0.97);
}

.inknut-antiqua-light {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .tRegular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inknut-antiqua-medium {
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .inknut-antiqua-semibold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .inknut-antiqua-bold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inknut-antiqua-extrabold {
    font-family: "Inknut Antiqua", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .inknut-antiqua-black {
    font-family: "Inknut Antiqua", serif;
    font-weight: 900;
    font-style: normal;
  }
  .dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body {
  background-image: 
    linear-gradient(180deg, #007691 0%, #08D2FF 100%), 
    url('../Cosas/Anotación 2025-09-16 140629.png');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-blend-mode: multiply;
}

.subtitulo {
color: #FFF;
font-family: "Dela Gothic One";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
bottom: 20px;
}