:root {
  --mouse: url("../Cosas/mouse.png") 16 16, auto;
  --pointer: url("../Cosas/pointer.png") 16 16, pointer;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  cursor: var(--mouse);
}

.garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.galdeano {
  font-family: "Galdeano", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  transition: background 0.6s ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #333333;
  cursor: var(--mouse);
}
.titulo {
  margin: 0;
  width: 100%;
  font-size: clamp(4rem, 12vw, 12rem);
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 10%;
}
.container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.atras {
  height: 13vh;
  aspect-ratio: 4/3;
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 4vh;
  background-image: url(../Cosas/image34.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
}
.avanzar {
  transition: opacity ease 0.2s;
  opacity: 0;
  height: 13vh;
  aspect-ratio: 4/3;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: var(--pointer);
  padding: 1rem;
  font-size: 3.2vh;
  background-image: url(../Cosas/pinturaizquierda.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.personajes {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}
.magician,
.bear,
.pick,
.jon {
  height: 6rem;
  aspect-ratio: 1/1;
  background-color: darkgray;
  position: relative;
  transition: transform 0.45s ease-in-out, filter 0.02s ease-in-out;
  bottom: 0;
  cursor: var(--pointer);
  border: solid black 1px;
}
.bear {
  background-image: url(../Cosas/Group\ 1.png);
  background-repeat: no-repeat;
  background-size: 6rem;
}
.pick {
  background-image: url(../Cosas/Group\ 2.png);
  background-repeat: no-repeat;
  background-size: 6rem;
}
.jon {
  background-image: url();
  background-repeat: no-repeat;
  background-size: 6rem;
}
.magician {
  background-image: url(../Cosas/Group\ 4.png);
  background-repeat: no-repeat;
  background-size: 6rem;
}
.datos {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.desc {
  font-size: 2rem;
  color: white;
  transition: all ease 0.6s;
}
.nombre {
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: max-content;
  height: auto;
  transition: all ease 0.6s;
  transition: background none;
}
.img {
  max-width: 100%;
  height: 0;
  transition: all ease 0.6s;
}
.conjunto {
  max-width: 50%;
}
.stats {
  display: flex;
  gap: 5rem;
  transition: all ease 0.6s;
}
.magician:hover {
  border: whitesmoke 1px solid;
  transform: scale(1.1);
  filter: drop-shadow(0);
}
.jon:hover {
  border: whitesmoke 1px solid;
  transform: scale(1.1);
  filter: drop-shadow(0);
}
.bear:hover {
  border: whitesmoke 1px solid;
  transform: scale(1.1);
  filter: drop-shadow(0 0 0);
}
.pick:hover {
  border: whitesmoke 1px solid;
  transform: scale(1.1);
}
.iconos {
  list-style: none;
  padding-left: 0;
}
.oro {
  background-image: url(../Cosas/oro.png); /* Tu icono */
  background-size: 1.6rem; /* Ajusta tamaño */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 3rem; /* Espacio para el icono */
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.vida {
  background-image: url(../Cosas/heart_98495.png); /* Tu icono */
  background-size: 2rem 2rem; /* Ajusta tamaño */
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 3rem; /* Espacio para el icono */
  margin-bottom: 0.5rem;
  color: red;
  font-size: 1.5rem;
}
.poder {
  font-size: 1.5rem;
  transition: all ease 0.6s;
}
.descpoder {
  font-size: 1.2rem;
  transition: all ease 0.6s;
}
.poderes {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all ease 0.6s;
}
.simbolo {
  height: fit-content;
  transition: all ease 0.6s;
}