h2 {
width: 1311px;
height: 570px;
flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px 197px 81px 197px;
line-height: 110px;
}

h1 {  
width: 549px;
height: 144px;
color: #000;
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 103px 578px 126px 578px;
display:flex;
justify-content: center;
align-items: center;
text-align: center;
}

.cuadrado {
display: grid;
justify-content: center;
align-items: center;
text-align: center;
width: 1650px;
background-color: grey;
}

.inter-hola {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  }
  