body {
  min-height: 100%;
}

header {
  text-align: center;
  margin-top: 35%;
}
.personajes {
  background-color: beige;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 13rem;
  
}
.magician, .bear, .pick, .jon {
  height: 5rem;
  aspect-ratio: 1/1;
  background-color: darkgray;
  position: relative;
  transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out, bottom 0.6s ease;
  bottom: 0;
  cursor: pointer;
}


.magician:hover {
  background-color: lightgray;
  transform: scale(1.1);
  bottom: .8vh;
}
.jon:hover {
  background-color: lightgray;
  transform: scale(1.1);
  bottom: .8vh;
}
.bear:hover {
  background-color: lightgray;
  transform: scale(1.1);
  bottom: .8vh;
}
.pick:hover {
  background-color: lightgray;
  transform: scale(1.1);
  bottom: .8vh;
}
